.trendingTopics {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0; /* Adjust as needed */
}
  
.topicButton {
    background-color: white;
    color: black;
    border: 1px saddlebrown black;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.topicButton:focus,
.topicButton:hover {
    background-color: gold; /* Replace with actual hover color */
}
  