.chatbotContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 50px;
  padding: 0 10px;
}

.welcomeMessage {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 30vw;
  margin: 30px;
}

h3 {
  text-align: center;
}
