.header {
  display: flex;
  align-items: center;
  background-color: var(--primary-color, blue); /* Assuming a light grey background */
  width: 100vw;
  padding: 5px 0; /* Adjust the padding as needed */
}

img {
  width: 50px;
  padding: 0 10px;
}

.logo {
  font-size: 1.5rem; /* Adjust the size as needed */
  font-weight: bold;
  color: #333; /* Assuming a dark text color */
}
