.newChatButton {
  display: inline-flex;
  margin-left: auto;
  padding-right: 10px;
}

.newChatButton button {
  display: inline-flex;
  background: var(--primary-color);
  border: none;
  cursor: pointer;
  align-items: center;
  padding: 0;
}

.newChatButton img {
  width: 30px;
  padding: 0;
}

.newChatButton p {
  font-family: Inter;
  font-size: 1.2rem; /* Adjust the size as needed */
  color: #333; /* Assuming a dark text color */
  margin: 0;
  padding-right: 10px;
}
