.trendingTopic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
  
.topicButton {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-family: Inter;
  font-size: 1em;
}

.topicButton:hover {
  background-color: var(--secondary-color);
}

@media only screen and (max-width: 600px) {
  .trendingTopic {
    flex-direction: column;
  }

  .topicButton {
    margin-bottom: 20px;
  }
}
