.welcomeMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  margin: 30px 0;
}

.welcomeMessage img {
  width: 75px;
  padding-top: 50px;
}

.welcomeMessage p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 30vw;
  margin: 30px;
}

.welcomeMessage h3 {
  text-align: center;
}
