.welcomeMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  margin-bottom: 20px;
}

.welcomeMessage img {
  width: 75px;
  padding-top: 50px;
}

.welcomeMessage p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 30vw;
  margin: 30px;
}

.welcomeMessage h3 {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .welcomeMessage p {
    width: 65vw;
    font-size: 1.1rem;
  }
}
